.banner {
  text-align: center;
  color: white;
  background: lightblue;
  font-size: 20px;
}

.selected { 
    background-color: lightblue;
}

#search-form {
  min-width: 1000px;
  width: 100%;
  margin-top: 300px;
}

#search-bar {
  text-align: center;
  height: 50px;
}

#search-button {
  background-color:lightgrey;
  margin-top: 300px;
}

#reams-form {
  min-width: 200px;
}

.party-header {
  text-align: center;
}

.highlight {
    border: 1px solid yellow;
    background-color:yellow;
}

.draggable {
  border-style: solid;
  max-width: 100px;
}

.draggable:hover {
  background-color: lightyellow;
  cursor: move;
}

#ppc {
  height: 400px;
}

#non-ppc {
  height: 400px;
}

.shade_change {
  background-color: #999;
}

.shade_change2 {
  background-color: #555;
}

