
body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#title-space {
  margin-top: 10%
}

#title {
  font-family: Helvetica;
  text-align: center;
  font-size: 100px;
}

#subtitle {
  font-family: Helvetica;
  text-align: center;
  font-size: 40px;
}

#genre-search-form {
  width: 100%;
  margin-top: 10%;
}

#genre-search-bar {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

#tempo-search-form {
  width: 100%;
}

#tempo-search-bar {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  height: auto;
}

#time-sig-list {
  margin-top: 2%;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

#key-list {
  margin-top: 2%;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

#search-button {
  background-color:lightgrey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.song_result {
}

.album_art {
  width:300px;
  height:300px;
}

.album_info {
  font-family: Times New Roman;
}
