
body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}


#genre-search-form {
  width: 100%;
  margin-top: 25%;
}

#genre-search-bar {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

#tempo-search-form {
  width: 100%;
}

#tempo-search-bar {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  height: auto;
}

#search-button {
  background-color:lightgrey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
