<!-- about.html 
	The "about" page for the web application and glossary of musical terms. -->

<!DOCTYPE html>
<html>

<head>
  <title>OKTAVE - Musical Terms</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Link Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Link JQuery -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Link CSS page -->
  <link rel="stylesheet" type="text/css" href="../static/about.css">

  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDY4ltIHyeUtJSqXT4_U3Jmjqu5recNuH0",
      authDomain: "coms4156-oktave.firebaseapp.com",
      databaseURL: "https://coms4156-oktave.firebaseio.com",
      projectId: "coms4156-oktave",
      storageBucket: "coms4156-oktave.appspot.com",
      messagingSenderId: "498674979042"
    };
    firebase.initializeApp(config);
  </script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
  <script src="genre_search.js"></script>

</head>

<body>
	<div id="title-space">
		<h1 id="title">OKTAVE</h1>

		<h2 id="subtitle">About<h2>

		<br>

		<!-- Description of application -->
		<p class="about-text"><b>OKTAVE</b> is a web application that allows users to get music recommendations based on musical characteristics, such as tempo, key, mode, and/or time signature. </p>

		<br>

		<p class="about-text"><b>Search by track:</b> Search for a track you have in mind. OKTAVE will return a grid of tracks that match your search. Click on the row of any given track to discover tracks with similar musical features.</p>

		<br>

		<p class="about-text"><b>Search by musical characteristics:</b> Select any combination of tempo, key, mode (major/minor), and time signature to discover tracks with similar features.</p>

		<br><br>

		<h3 id="subtitle">Glossary of Musical Terms</h3>
	</div>	

	<hr>

	<!-- Glossary of musical terms -->
	<div id="glossary">
		<div class="row term-def-row">
			<div class="col-xs-4 term">
				Tempo
			</div>

			<div class="col-xs-8 def">
				The speed or pace of a given piece. Measured in beats per minute (BPM).
			</div>
		</div>

		<div class="row term-def-row">
			<div class="col-xs-4 term">
				Key
			</div>

			<div class="col-xs-8 def">
				The group of pitches, or scale, that forms the basis of a musical composition.
			</div>
		</div>


		<div class="row term-def-row">
			<div class="col-xs-4 term">
				Mode
			</div>

			<div class="col-xs-8 def">
				Indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. 
			</div>
		</div>

		<div class="row term-def-row">
			<div class="col-xs-4 term">
				Time signature
			</div>

			<div class="col-xs-8 def">
				A notational convention used in Western musical notation to specify how many beats (pulses) are to be contained in each measure (bar) and which note value is equivalent to one beat.
			</div>
		</div>

		<div class="row term-def-row">
			<div class="col-xs-4 term">
				Acousticness
			</div>

			<div class="col-xs-8 def">
				A confidence measure from 0 to 100 of whether the track is acoustic. 100 represents high confidence the track is acoustic.
			</div>
		</div>

		<div class="row term-def-row">
			<div class="col-xs-4 term">
				Danceability
			</div>

			<div class="col-xs-8 def">
				Describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0 is least danceable and 100 is most danceable.
			</div>
		</div>

		<div class="row term-def-row">
			<div class="col-xs-4 term">
				Energy
			</div>

			<div class="col-xs-8 def">
				A measure from 0 to 100 that represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.
			</div>
		</div>

		<div class="row term-def-row">
			<div class="col-xs-4 term">
				Instrumentalness
			</div>

			<div class="col-xs-8 def">
				Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly “vocal”. The closer the instrumentalness value is to 100, the greater likelihood the track contains no vocal content. Values above 50 are intended to represent instrumental tracks, but confidence is higher as the value approaches 100.
			</div>
		</div>


		<div class="row term-def-row">
			<div class="col-xs-4 term">
				Liveness
			</div>

			<div class="col-xs-8 def">
				Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 80 provides strong likelihood that the track is live.
			</div>
		</div>

		<div class="row term-def-row">
			<div class="col-xs-4 term">
				Loudness
			</div>

			<div class="col-xs-8 def">
				The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typical range between -60 and 0 db.
			</div>
		</div>

		<div class="row term-def-row">
			<div class="col-xs-4 term">
				Speechiness
			</div>

			<div class="col-xs-8 def">
				Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 100 the attribute value. Values above 66 describe tracks that are probably made entirely of spoken words. Values between 33 and 66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 33 most likely represent music and other non-speech-like tracks.
			</div>
		</div>

		<div class="row term-def-row">
			<div class="col-xs-4 term">
				Positivity
			</div>

			<div class="col-xs-8 def">
				A measure from 0 to 100 describing the musical positiveness conveyed by a track. Tracks with high positivity sound more cheerful or euphoric, while tracks with low positivity sound more sad, depressed, or angry.
			</div>
		</div>		

	</div>
	<hr>

	<!-- Link to return to home page -->
	<h4 id="back"><a href="/search">HOME</a></h3>
</body>	


</html>
