<!DOCTYPE html>
<html>

<head>
  <title>OKTAVE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="../static/genre_search.css">
  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
  <script src="../static/genre_search.js"></script>

</head>

<body>

	<div id="title-space">
		<h1 id="title">OKTAVE</h1>

		<h2 id="subtitle">Search for songs according to musical characteristics.<h2>

    <h3 id="about"><a href="about.html">What do these musical terms mean?</a></h3>
	</div>	


<!-- Search bar, drop-downs, etc. -->
  <div>
    <!-- <form class="form-inline" onsubmit="return false;" id="search-form-master"> -->
    <form class="form-inline" id="search-form-master">
      
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group" id="genre-search-form">
              <input type="text" class="form-control" id="genre-search-bar" placeholder="Search for songs by genre">
          </div>
        </div>  
      </div>    

      <!-- Tempo search bar -->
      <div class="row">
      	<div class="col-xs-12">
      		<div class="input-group" id="tempo-search-form">
              <input type="text" class="form-control" id="tempo-search-bar" placeholder="Search by tempo (enter BPM)">
          	</div>
      	</div>
      </div>


      <!-- Time signature drop-down menu -->
      <div class="row">
      	<!-- Key -->
		    <div class="col-xs-12">
      		<select multiple="multiple" id="key-list" name="key">
            <option value="" disabled selected><center>Key:</center></option>
      			<option value='0'>C</option>
      			<option value='1'>C#/Db</option>
      			<option value='2'>D</option>
      			<option value='3'>D#/Eb</option>
      			<option value='4'>E</option>
      			<option value='5'>F</option>
      			<option value='6'>F#/Gb</option>
      			<option value='7'>G/</option>
      			<option value='8'>G#/Ab</option>
      			<option value='9'>A</option>
      			<option value='10'>A#/Bb</option>
      			<option value='11'>B</option>
      		</select>
      	</div>	  		
	  </div>	

	<div class="row">
		<div class="col-xs-12">
			<select name="time_sig" id="time-sig-list">
				<option value="" disabled selected><center>Time signature</center></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
			</select>
		</div>	
	</div>	

      <!-- Submit button -->
      <div class="row">
        <div class="col-xs-12">
          <center><button class="btn btn-lg" type="submit" id="search-button">Search</button></center>
        </div>  
      </div>

    </form> 
  </div>

  <br></br>

  <!-- Where the log entries will go --> 
  <div id="search-results">
    <div class="row" id="result-row">
      <div class="col-xs-2">
        <img src="https://images-na.ssl-images-amazon.com/images/I/510cBiPgbIL.jpg" class="img-responsive album_art">
      </div>
      <div class="col-xs-10">

        <div class="row song-info-row">
          <div id="info1">
            <b>"Superfly"</b> • Curtis Mayfield 
          </div>  
        </div>

        <div class="row song-info-row">
          <div id="info2">
            <b>Temp:</b> 120 BPM • <b>Key:</b> D • <b>Time signature:</b> 4/4
          </div> 
        </div>

        <div class="row song-info-row">
          <div id="info3">
            <b>Danceability:</b> 0.78 • <b>Energy:</b> 0.71 • <b>Loudness:</b> -9.14 • <b>Speechiness:</b> 0.11 • <b>Acousticness:</b> 0.46 • <b>Instrumentalness:</b> 0.00 • <b>Liveness:</b> 0.09 • <b>Valence:</b> 0.75 • <b>Duration:</b> 3:53
          </div> 
        </div>  
      </div>
    </div>

     <div class="row" id="result-row">
      <div class="col-xs-2">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51cpkq2mUzL.jpg" class="img-responsive album_art">
      </div>
      <div class="col-xs-10">

        <div class="row song-info-row">
          <div id="info1">
            <b>"Where Did Our Love Go"</b> • The Supremes 
          </div>  
        </div>

        <div class="row song-info-row">
          <div id="info2">
            <b>Temp:</b> 120 BPM • <b>Key:</b> D • <b>Time signature:</b> 4/4
          </div> 
        </div>

        <div class="row song-info-row">
          <div id="info3">
            <b>Danceability:</b> 0.78 • <b>Energy:</b> 0.71 • <b>Loudness:</b> -9.14 • <b>Speechiness:</b> 0.11 • <b>Acousticness:</b> 0.46 • <b>Instrumentalness:</b> 0.00 • <b>Liveness:</b> 0.09 • <b>Valence:</b> 0.75 • <b>Duration:</b> 3:53
          </div> 
        </div>  
      </div>
    </div>

    <div class="row" id="result-row">
      <div class="col-xs-2">
        <img src="https://images-na.ssl-images-amazon.com/images/I/A1MwaIeBpwL._SL1500_.jpg" class="img-responsive album_art">
      </div>
      <div class="col-xs-10">

        <div class="row song-info-row">
          <div id="info1">
            <b>"Reckoner"</b> • Radiohead
          </div>  
        </div>

        <div class="row song-info-row">
          <div id="info2">
            <b>Temp:</b> 120 BPM • <b>Key:</b> D • <b>Time signature:</b> 4/4
          </div> 
        </div>

        <div class="row song-info-row">
          <div id="info3">
            <b>Danceability:</b> 0.78 • <b>Energy:</b> 0.71 • <b>Loudness:</b> -9.14 • <b>Speechiness:</b> 0.11 • <b>Acousticness:</b> 0.46 • <b>Instrumentalness:</b> 0.00 • <b>Liveness:</b> 0.09 • <b>Valence:</b> 0.75 • <b>Duration:</b> 3:53
          </div> 
        </div>  
      </div>
    </div>


  </div>  



<!--
  <div id="search-results">
    <div class="row">
       <div class="col-md-4" class="song_result">
        <img src="https://images-na.ssl-images-amazon.com/images/I/510cBiPgbIL.jpg" class="img-responsive album_art">
        <div class=album_info>
          <p>"Superfly"</p>
          <p>Curtis Mayfield</p>
          <p><b>Genre:</b> Chicago Soul</p>
          <p><b>Tempo:</b> 120 BPM</p>
          <p><b>Key:</b> D</p>
          <p><b>Time signature:</b> 4/4</p>
        </div>  
      </div>  

      <div class="col-md-4" class="song_result">       
        <img src="https://images-na.ssl-images-amazon.com/images/I/51cpkq2mUzL.jpg" class="img-responsive album_art">
        <div class=album_info>
          <p>"Where Did Our Love Go"</p>
          <p>The Supremes</p>
          <p><b>Genre:</b> Chicago Soul</p>
          <p><b>Tempo:</b> 120 BPM</p>
          <p><b>Key:</b> D</p>
          <p><b>Time signature:</b> 4/4</p>
        </div>  
      </div>  

      <div class="col-md-4" class="song_result">
        <img src="https://images-na.ssl-images-amazon.com/images/I/A1MwaIeBpwL._SL1500_.jpg" class="img-responsive album_art">
        <div class=album_info>
          <p>"Reckoner"</p>
          <p>Radiohead</p>
          <p><b>Genre:</b> Chicago Soul</p>
          <p><b>Tempo:</b> 120 BPM</p>
          <p><b>Key:</b> D</p>
          <p><b>Time signature:</b> 4/4</p>
        </div>  
      </div>  
    </div>
  </div> 
-->
  

</body>
</html>