{% extends "layout.html" %}
{% block body %}

<head>
  <title>OKTAVE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="../static/genre_search.css">
  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
  <script src="genre_search.js"></script>

</head>

<body>

	<div id="title-space">
		<h1 id="title">OKTAVE</h1>

		<h2 id="subtitle">Search for songs according to musical characteristics.<h2>
	</div>	


<!-- Search bar, drop-downs, etc. -->
  <div>
    <form class="form-inline" id="search-form-master" action="/song_search" method="post">
      
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group" id="genre-search-form">
              <input type="text" class="form-control" id="genre-search-bar" placeholder="Search for artists by genre">
          </div>
        </div>  
      </div>    

      <!-- Tempo search bar -->
      <div class="row">
      	<div class="col-xs-12">
      		<div class="input-group" id="tempo-search-form">
              <input type="text" name="tempo" class="form-control" id="tempo-search-bar" placeholder="Enter the BPM number you would like">
          	</div>
      	</div>
      </div>


      <!-- Time signature drop-down menu -->
      <div class="row">
      	<!-- Key -->
		    <div class="col-xs-12">
      		<select multiple="multiple" id="key-list" name="key">
      			<option value='0'>C</option>
      			<option value='1'>C#/Db</option>
      			<option value='2'>D</option>
      			<option value='3'>D#/Eb</option>
      			<option value='4'>E</option>
      			<option value='5'>F</option>
      			<option value='6'>F#/Gb</option>
      			<option value='7'>G/</option>
      			<option value='8'>G#/Ab</option>
      			<option value='9'>A</option>
      			<option value='10'>A#/Bb</option>
      			<option value='11'>B</option>
      		</select>
      	</div>	  		
	  </div>	

	<div class="row">
		<div class="col-xs-12">
			<select name="time_sig" id="time-sig-list">
				<option value="" disabled selected><center>Time signature</center></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
			</select>
		</div>	
	</div>	

      <!-- Submit button -->
      <div class="row">
        <div class="col-xs-12">
            <form action="/song_search" method="post">
            <center><button class="btn btn-lg" type="submit" id="search-button" formmethod="post">Search</button></center>
        </div>  
      </div>

    </form> 
  </div>

  <br></br>

  <!-- Where the log entries will go --> 
 <div id="search-results">
  {% for n in data %}
    <div class="row" id="result-row">
      <div class="col-xs-2">
        <img src={{n[13]}} class="img-responsive album_art" style="width:100px;height:auto">
      </div>
      <div class="col-xs-10">

        <div class="row song-info-row">
          <div id="info1">
            <b>{{n[0]}}</b> • {{n[1]}}
          </div>
        </div>

        <div class="row song-info-row">
          <div id="info2">
            <b>Tempo:</b> {{n[2]}} BPM • <b>Key:</b> {{n[3]}} • <b>Time signature:</b> {{n[4]}}/4
          </div>
        </div>

        <div class="row song-info-row">
          <div id="info3">
            <b>Danceability:</b> {{n[5]}} • <b>Energy:</b> {{n[6]}} • <b>Loudness:</b> {{n[7]}} • <b>Speechiness:</b> {{n[8]}} • <b>Acousticness:</b> {{n[9]}} • <b>Instrumentalness:</b> {{n[10]}} • <b>Liveness:</b> {{n[11]}} • <b>Valence:</b> {{n[12]}}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}


  </div>

</body>
{% endblock %}
